#
# This file is part of SerialPundit.
# 
# Copyright (C) 2014-2016, Rishi Gupta. All rights reserved.
#
# The SerialPundit is DUAL LICENSED. It is made available under the terms of the GNU Affero 
# General Public License (AGPL) v3.0 for non-commercial use and under the terms of a commercial 
# license for commercial use of this software. 
#
# The SerialPundit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#################################################################################################

# This is a udev rule file for all devices from Microchip Inc. with VID 0x04D8 (not specific to any
# Microchip Inc. product (USB PID)). Place this file in /etc/udev/rules.d/ for Ubuntu Linux distro.

# These rules will grant read and write access to all users, include non-privileged users, for all 
# USB devices that have a matching Vendor ID according to the rules below. If required, more 
# restrictions on access to these devices can be achieved. Please learn more about writing udev 
# rules for putting more restrctions. It is possible to set up a group or user owner for accessing 
# a specific device.

# This file can be renamed as per the requirement. After putting it in /etc/udev/rules.d/ directory 
# udev need not be restarted. Just un-lug or plug the device in USB port again. Also vendor ID and 
# Product ID may be case sensitive. Please use dmesg to check device information when device is 
# plugged in system. System supplied default rules are generally placed in /lib/udev/rules.d and gets
# overridden by rules placed in /etc/udev/rules.d directory.

# We can also add user to dialout group if it is not member of dialout group.
# $groups YOURUSERNAME
# $sudo gpasswd --add YOURUSERNAME dialout
# Logout then login and then insert the USB-UART device.

ACTION=="remove", GOTO="mcp2221_end"
SUBSYSTEM!="tty", GOTO="mcp2221_end"

SUBSYSTEM=="tty", ATTRS{idVendor}=="04d8", MODE="0666"

# If we want to load these rules for a specific USB product with product ID, here is how to do it:
# (example for MCP2221).
# SUBSYSTEM=="tty", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="00dd", MODE="0666"

LABEL="mcp2221_end"

